@model CursedPathWebApp.Models.HomePageModel;
@{
    ViewData["Title"] = "Home Page";
}
    <iframe src="//users.instush.com/mini/?user_id=216308850&username=slightly.mediocre&sid=-1&susername=-1&tag=-1&stype=mine&t=9999992KeBBTY4F21t0DOYqh02B7Qxy_mUh8s-CvJN6vtYYQD6j_OT9BWAokrJrA9h8xn0yJjMwIj5ld0" allowtransparency="true" frameborder="0" scrolling="no" style="display:block;width:612px;height:612px;border:none;overflow:visible;"></iframe>

<div class="row">
    <div class="col-md-3">
        <h2>Headlines</h2>
        @if (Model.RecentBlogPosts.Count() > 0)
        {
            foreach (BlogPost post in Model.RecentBlogPosts)
            {
                <section>
                    <h3>@post.Title</h3>
                    <div class="author">@post.Author.Name</div>
                    @Html.Raw(@post.ContentHTML)
                </section>
            }
            <div class="right">@Html.ActionLink("View Archive...", "BlogArchive")</div>
        }
        else
        {
            <p>There are no headlines.</p>
        }
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        
    </div>
</div>
